@model CAPTasksMVC.Models.Tareas

@{
    ViewBag.Title = "EliminarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Eliminar Tarea</h3>

<h3>¿Esta seguro que desea eliminar esta tarea?</h3>
<fieldset>    
       @*  @Html.DisplayNameFor(model => model.Nombre)*@
    
        @Html.DisplayFor(model => model.Nombre)
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" id="btnBorrarTarea" class="btn btn-success" value="Borrar" /> 
        <input type="submit" id="btncancelar" class="btn btn-warning" value="Cancelar" />   
    </p>
}
